---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

const req = await fetch(
  "https://api.github.com/repos/Minecodes/tools.mcds.moe/contributors"
);
const rawContributors = await req.json();
const contributors = rawContributors.map((c) => {
  return {
    name: c.login,
    avatar: c.avatar_url,
    url: c.html_url,
  };
});

console.log(contributors);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      p {
        font-family: "Sometype Mono Variable", monospace;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>💾 Hello, Fellow</h1>
      <p>
        This is tools.mcds.moe, a place for me to share my tools and projects.
        Some of the tools here are for transforming base64, transform markdown
        to html, and more.
      </p>
      <p>
        The base of this project is from a old project of mine, <a
          href="https://github.com/Minecodes/mdhtml">MDHTML</a
        >.
      </p>
      <p>
        If you want to add any tools or have any suggestions, feel free to open
        a issue or a pull request on the <a
          href="https://github.com/Minecodes/tools.mcds.moe"
          >GitHub repository</a
        >.
      </p>

      <p>Also, a big thank you to the contributors of this project.</p>
      <div class="flex flex-wrap gap-4 justify-center">
        {
          contributors.map((c) => (
            <a href={c.url} class="flex flex-col items-center">
              <img src={c.avatar} alt={c.name} class="w-12 h-12 rounded-full" />
              <span class="text-sm mt-2">{c.name}</span>
            </a>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
